@font-face {
  font-family: Rubik, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&family=Rubik:wght@300&display=swap"); }

@font-face {
  font-family: 'Fredoka One', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Cabin';
  color: white;
  background-color: #f7f3f3; }

.btn-titulobase, .btn-titulotrabajos, .btn-tituloinfo {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto; }

.btn-titulotrabajos {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem; }

.btn-tituloinfo {
  text-decoration: underline; }

header {
  background-image: linear-gradient(45deg, #131313, #6a6969);
  position: sticky;
  z-index: 1;
  border-bottom: solid black 0.5vh; }

.bg-grey {
  background-image: linear-gradient(45deg, #131313, #6a6969); }

.bg-grey a {
  color: white; }

.bg-grey a:hover {
  color: #7979f5; }

.bg-grey a:active {
  transform: scale(0.8); }

.footer {
  background-color: black;
  width: 100%;
  height: 100%; }

.container__footer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }

.container__footer div {
  display: flex;
  gap: 10px;
  align-items: center; }

.footer__h1 {
  text-align: left;
  font-size: 150%; }

.footer img {
  display: inline-block;
  width: 50px;
  height: 100%;
  bottom: 100%; }

.footer a {
  color: blue;
  border-bottom: blue;
  font-size: 4vh;
  transition: all 0.3s; }

.footer a:hover {
  color: white; }

.footer a:active {
  transform: scale(0.8); }

.ultimostrabajos__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%; }

.ultimostrabajos__h1 {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  font-size: 2rem;
  color: black; }

.ultimostrabajos__container img {
  display: inline;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1vw;
  border-radius: 10%;
  margin-bottom: 2%; }

.descripcion-trabajos {
  color: black;
  font-size: 1.2rem;
  margin: auto;
  display: flex;
  background-color: green;
  text-decoration: line-through; }

.descripcion-trabajos1 {
  color: black;
  font-size: 0.8rem;
  margin: auto;
  display: flex;
  background-color: brown;
  font-style: italic; }

.link-whatsapp {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #3ebf3e;
  display: flex;
  justify-content: center; }

.link-twitter {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #55acee;
  display: flex;
  justify-content: center; }

.link-youtube {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-color: #f02929;
  display: flex;
  justify-content: center; }

.botonesmaps__container {
  display: flex;
  flex-direction: column; }

.banner {
  height: 60vh;
  background-image: url(../assets.e01/pexels-recortada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  border-bottom-style: groove;
  overflow: hidden; }
  .banner__sub__container {
    display: flex;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-image: linear-gradient(45deg, #131313, #6a6969); }

.banner__sub__container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  font-size: 0.8rem;
  height: 80%; }

.card {
  height: 80%; }

.card-img-top {
  height: 40%; }

.banner__sub__container2 h5 {
  font-size: 1rem; }

.info1__container h1 {
  width: 70%;
  font-size: 150%;
  font-weight: 900;
  margin: auto;
  padding-top: 10%;
  padding-left: 1rem; }

.info1__container p {
  width: 70%;
  font-size: 100%;
  padding: 1rem;
  margin: auto; }

.info__container {
  display: inline-block; }

.info__container p {
  width: 70%;
  font-size: 100%;
  margin: auto;
  padding-left: 1rem; }

.carousel_container {
  height: 400px;
  overflow: hidden;
  background-color: #f7f3f3; }

.carousel-inner {
  height: 400px; }

.w-100 {
  height: 400px !important;
  width: 100% !important;
  object-fit: cover; }

.carousel_container {
  margin-bottom: 50px; }

.carousel_container {
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px; }

.carousel-inner {
  height: 400px; }

.w-100 {
  height: 400px !important;
  width: 100% !important;
  object-fit: cover; }

.contact {
  display: flex; }

.contact__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  color: black; }

.contact__text__h2 {
  padding-bottom: 2rem; }

.campo {
  width: 70%;
  padding: 15px 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
  font-size: 1rem; }

.contact__form {
  display: flex;
  margin-top: 1rem; }

.contact__button {
  display: flex;
  align-items: flex-start;
  margin-bottom: 38%;
  border: solid black 5px;
  background-color: white;
  font-weight: bold;
  border-radius: 20%;
  padding: 1%;
  cursor: pointer;
  transition: 0.3s; }

.contact__button:hover {
  background-color: #4040f5; }

.contact__button:active {
  transform: scale(0.8); }

@media (max-width: 904px) {
  .nav__ul {
    display: none; } }

@media (max-width: 845px) {
  .ultimostrabajos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .footer__h1 {
    display: none; }
  .banner {
    height: 130vh; }
  .banner__sub__container2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
  .info1__conteiner,
  .info__container {
    display: flex;
    display: block; } }

@media (max-width: 720px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .campo {
    margin-left: 15%; }
  .contact__button {
    margin-left: 15%; } }

@media (max-width: 625px) {
  .banner {
    display: flex;
    flex-direction: column; }
  .banner__sub__container h1 {
    padding-top: 3%; }
  .banner__sub__container p {
    padding-bottom: 3%; }
  .banner__sub__container2 {
    display: flex; }
  .container__footer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15%; } }

@media (max-width: 480px) {
  .banner__sub__container2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr); } }

@media (max-width: 420px) {
  .nav__logo {
    font-size: 150%; } }
