@font-face {
  font-family: Rubik, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&family=Rubik:wght@300&display=swap"); }

@font-face {
  font-family: 'Fredoka One', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Cabin';
  color: white;
  background-color: #f7f3f3; }

header {
  background-image: linear-gradient(45deg, #131313, #6a6969);
  position: sticky;
  z-index: 1;
  border-bottom: solid black 0.5vh; }

.bg-grey {
  background-image: linear-gradient(45deg, #131313, #6a6969); }

.bg-grey a {
  color: white; }

.bg-grey a:hover {
  color: #7979f5; }

.bg-grey a:active {
  transform: scale(0.8); }

.footer {
  background-color: black;
  width: 100%;
  height: 100%; }

.container__footer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }

.container__footer div {
  display: flex;
  gap: 10px;
  align-items: center; }

.footer__h1 {
  text-align: left;
  font-size: 150%; }

.footer img {
  display: inline-block;
  width: 50px;
  height: 100%;
  bottom: 100%; }

.footer a {
  color: blue;
  border-bottom: blue;
  font-size: 4vh;
  transition: 0.3s; }

.footer a:hover {
  color: white; }

.footer a:active {
  transform: scale(0.8); }

.ultimostrabajos__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  background-color: #f7f3f3; }

.ultimostrabajos__h1 {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  font-size: 2rem;
  color: black;
  background-color: #f7f3f3; }

.ultimostrabajos__container img {
  display: inline;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1vw;
  border-radius: 10%;
  margin-bottom: 2%; }

.banner {
  height: 60vh;
  background-image: url(./assets);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  border-bottom-style: groove;
  overflow: hidden; }

.banner__sub__container {
  display: flex;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-image: linear-gradient(45deg, #131313, #6a6969); }

.banner__sub__container2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  font-size: 0.8rem;
  height: 80%; }

.card {
  height: 80%; }

.card-img-top {
  height: 40%; }

.banner__sub__container2 h5 {
  font-size: 1rem; }

.info1__conteiner h1 {
  width: 70%;
  font-size: 150%;
  font-weight: 900;
  margin: auto;
  padding-top: 10%;
  padding-left: 1rem; }

.info1__conteiner p {
  width: 70%;
  font-size: 100%;
  padding: 1rem;
  margin: auto; }

.info__container {
  display: inline-block; }

.info__container p {
  width: 70%;
  font-size: 100%;
  margin: auto;
  padding-left: 1rem; }

.carousel_container {
  height: 400px;
  overflow: hidden;
  background-color: #f7f3f3;
  margin-bottom: 50px; }

.carousel-inner {
  height: 400px; }

.w-100 {
  height: 400px !important;
  width: 100% !important;
  object-fit: cover; }

.contact {
  display: flex;
  background-color: #f7f3f3; }

.contact__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  color: black; }

.contact__text__h2 {
  padding-bottom: 2rem; }

.campo {
  width: 70%;
  padding: 15px 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
  font-size: 1rem; }

.contact__form {
  display: flex;
  margin-top: 1rem; }

.contact__button {
  display: flex;
  align-items: flex-start;
  margin-bottom: 38%;
  border: solid black 5px;
  background-color: white;
  font-weight: bold;
  border-radius: 20%;
  padding: 1%;
  cursor: pointer;
  transition: 0.3s; }

.contact__button:hover {
  background-color: #4040f5; }

.contact__button:active {
  transform: scale(0.8); }
