.footer {
    background-color: black;
    width: 100%;
    height: 100%;
}

.container__footer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container__footer div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__h1 {
    text-align: left;
    font-size: 150%;
}

.footer img {
    display: inline-block;
    width: 50px;
    height: 100%;
    bottom: 100%;

}

.footer a {
    color: blue;
    border-bottom: blue;
    font-size: 4vh;
    transition: 0.3s;
}
.footer a:hover {
    color: white;
}

.footer a:active {
    transform: scale(0.8);
}
