@font-face {
    font-family: Rubik, sans-serif;
    ;
    src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&family=Rubik:wght@300&display=swap');
}

@font-face {
    font-family: 'Fredoka One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Cabin';
    color: white;
    background-color:rgb(247, 243, 243) ;

}
