@font-face {
    font-family: Rubik, sans-serif;
    ;
    src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&family=Rubik:wght@300&display=swap');
}

@font-face {
    font-family: 'Fredoka One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Cabin';
    color: white;
    background-color: $colorFondo ;

}

.btn-titulobase {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
}

.btn-titulotrabajos {
    @extend .btn-titulobase;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.btn-tituloinfo {
    @extend .btn-titulobase;
    text-decoration: underline;
}