header {
    background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(106, 105, 105));
    position: sticky;
    z-index: 1;
    border-bottom: solid black 0.5vh;
}

.bg-grey {
    background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(106, 105, 105));
}

.bg-grey a{
    color: white;

}

.bg-grey a:hover {
color: rgb(121, 121, 245);
}

.bg-grey a:active {
    transform: scale(0.8);
}

@media (max-width: 904px) {
    .nav__ul {
        display: none;
    }

}