
.ultimostrabajos__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    
}

.ultimostrabajos__h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    font-size: 2rem;
    color: black;
   


}

.ultimostrabajos__container img {
    display: inline;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 1vw;
    border-radius: 10%;
    margin-bottom: 2%;

}