.banner {
    height: 60vh;
    background-image: url(../assets.e01/pexels-recortada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    border-bottom-style: groove;
    overflow: hidden;

    &__sub__container {
        display: flex;
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
        padding: 20px 0;
        background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(106, 105, 105))
    }
}




.banner__sub__container2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-size: 0.8rem;
    height: 80%;
}

.card {
    height: 80%;
}

.card-img-top {
    height: 40%;
}


.banner__sub__container2 h5 {
    font-size: 1rem;
}


.info1__container h1 {
    width: 70%;
    font-size: 150%;
    font-weight: 900;
    margin: auto;
    padding-top: 10%;
    padding-left: 1rem;
}

.info1__container p {
    width: 70%;
    font-size: 100%;
    padding: 1rem;
    margin: auto;
}

.info__container {
    display: inline-block;
}

.info__container p {
    width: 70%;
    font-size: 100%;
    margin: auto;
    padding-left: 1rem;

}

.carousel_container {
    height: 400px;
    overflow: hidden;
    background-color: $colorFondo ;
}

.carousel-inner {
    height: 400px;
}

.w-100 {
    height: 400px !important;
    width: 100%!important;
    object-fit: cover;
}
.carousel_container{
    margin-bottom: 50px;
}
