.carousel_container {
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
}

.carousel-inner {
    height: 400px;
}

.w-100 {
    height: 400px !important;
    width: 100%!important;
    object-fit: cover;
}
