@font-face {
    font-family: Rubik, sans-serif;
    ;
    src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&family=Rubik:wght@300&display=swap');
}

@font-face {
    font-family: 'Fredoka One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Cabin';
    color: white;
    overflow-x: hidden;

}

header {
    background-image: linear-gradient(45deg, rgb(19, 19, 19), rgb(106, 105, 105));
    position: sticky;
    top: 0;
    z-index: 1;
    height: 5rem;
    border-bottom: solid rgb(35, 32, 216) 1vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;

}

.nav__logo {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-weight: bold;
    font-size: 200%;

}

.nav__ul {
    display: flex;

}

.nav__li {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0px 1rem;
    transition: transform 0.3s;

}

.nav__li:hover {
    transform: translateY(-10px);
}

.nav__a {
    border-bottom: solid 1px white;
    color: white;
}

/* Banner e info */

.banner {
    height: 50vh;
    background-image: url(./assets.e01/pexels-recortada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    color: black;
    border-bottom-style: groove;

}

.banner__sub__container {
    display: flex;
    margin: auto;
}

.info1__conteiner,
.info__container {
    width: 30%;
    margin: auto;
}

.info1__conteiner {
    display: inline-block;
    border: solid black 0.5rem;
    background-color: aliceblue;
    border-radius: 15%;

}

.info1__conteiner h1 {
    width: 70%;
    font-size: 150%;
    font-weight: 900;
    text-align: center;
    margin: auto;
}

.info1__conteiner p {
    width: 70%;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
    margin: auto;
}

.info__container {
    display: inline-block;
    border: solid black 0.5rem;
    background-color: aliceblue;
    border-radius: 15%;

}

.info__container h1 {
    width: 70%;
    font-size: 150%;
    font-weight: 900;
    margin: auto;
    text-align: center;

}

.info__container p {
    width: 70%;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding-top: 1rem;

}

.ultimostrabajos__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    background-color: rgb(247, 243, 243);
}

.ultimostrabajos__h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2rem;
    color: black;
    background-color: rgb(247, 243, 243);


}

.ultimostrabajos__container img {
    display: inline;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 1vw;
    border-radius: 10%;
    margin-bottom: 2%;

}

.footer {
    background-color: black;
    border-top: solid rgb(35, 32, 216) 1vh;
    width: 100%;
    height: 100%;
}

.container__footer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.container__footer div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__h1 {
    text-align: left;
    font-size: 150%;
}

.footer img {
    display: inline-block;
    width: 50px;
    height: 100%;
    bottom: 100%;

}

.footer a {
    color: blue;
    border-bottom: blue;
    font-size: 4vh;
    transition: 0.3s;
}
.footer a:hover {
    color: white;
}

.contact {
    display: flex;
    background-color: rgb(247, 243, 243);
}

.contact__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    color: black;
}

.contact__text__h2 {
    padding-bottom: 2rem;
}

.campo {
    width: 70%;
    padding: 15px 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
    font-size: 1rem;
}

.contact__form {
    display: flex;
    margin-top: 1rem;
}


.contact__button {

    display: flex;
    align-items: flex-start;
    margin-bottom: 38%;
    border: solid black 5px;
    background-color: white;
    font-weight: bold;
    border-radius: 20%;
    padding: 1%;
    cursor: pointer;
    transition: 0.3s;
}

.contact__button:hover {
    background-color: rgb(64, 64, 245);
    
}

span {
    display: none;
}

@media (max-width: 904px) {
    .nav__ul {
        display: none;
    }

    span {
        display: inline-block;
    }
}



/* @media (max-witdh: 785px) {
    .banner__sub__container{
        display: flex;
        flex-direction: column;
    }
} */

@media (max-width: 845px) {
    .ultimostrabajos__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__h1 {
        display: none;
    }

    .banner {
        height: 100vh;
    }


    .banner__sub__container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .info1__conteiner,
    .info__container {
        width: 50%;
        margin: auto;
        margin-bottom: 10%;
    }
}

@media (max-width: 720px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campo {
        margin-left: 15%;
    }

    .contact__button {
        margin-left: 15%;
    }
}

@media (max-width: 600px) {
    .footer img {
        width: 25px;
        height: 25px;
    }

    .footer a {
        font-size: 2vh;
    }

    .footer h1 {
        font-size: 75%;
    }
}

@media (max-width: 480px) {
    .info1__conteiner,
    .info__container {
        width: 85%;
        margin: auto;
        margin-bottom: 10%;
    }
}

@media (max-width: 420px) {
    .nav__logo {
        font-size: 150%;
    }
}